body {
    font-family: Inter, sans-serif;
    background:#f4f7f6;
}

.card-custom {
    border-radius:16px;
    box-shadow:0 4px 14px rgba(0,0,0,0.08);
}

.stat {
    font-size:1.6rem;
    font-weight:800;
}
